[Unit]
Description=Media Manager Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/media/media-manager-service
Environment="PATH=/home/media/media-manager-service/venv/bin"
Environment="PYTHONPATH=/home/media/media-manager-service"
ExecStart=/home/media/media-manager-service/venv/bin/python3 -m src.app
Restart=always
RestartSec=10

[Install]
WantedBy=default.target 
